trigger:
  - main

stages:
  - stage: Build
    pool:
      vmImage: 'windows-latest'
    jobs:
      - job: Build
        displayName: "Angular App Build"
        workspace:
          clean: all
        steps:
          - task: NodeTool@0
            inputs:
              versionSpec: "16.x"
            displayName: "Install Node.js"

          - task: Npm@1
            inputs:
              command: "install"
            displayName: "Npm Install"

          - task: Npm@1
            inputs:
              command: custom
              customCommand: "run build"
            displayName: "Build Angular app"

          - task: Npm@1
            inputs:
              command: custom
              customCommand: "run test"
            displayName: "Test Angular app"

          - task: Npm@1
            inputs:
              command: custom
              customCommand: "run lint"
            displayName: "Lint Angular app"

          - script: |
              mkdir $(Build.ArtifactStagingDirectory)\\dist
              xcopy "dist\\sample-app" $(Build.ArtifactStagingDirectory)\\dist /E/H/C
            displayName: Copy dist contents

          - task: PublishBuildArtifacts@1
            displayName: "Publish Artifact"